<!DOCTYPE html>
<html>
    <head>
        <link href="netjsongraph.css" rel="stylesheet">
        <link href="netjsongraph_theme.css" rel="stylesheet">
    </head>
    <body>
        <script src="d3.min.js"></script>
        <script src="netjsongraph.js"></script>
        <script>d3.netJsonGraph("{{ device_alias }}_net_json_routes.json");</script>
    </body>
</html>