# ISSU Facts for {{ inventory_hostname }}
| Slot | State | Operating Mode | RP State |
| ---- | ----- | -------------- | -------- |{% for slot in to_parse_issu_state %}
| {{ slot }} | {{ to_parse_issu_state[slot].issu_state }} | {{ to_parse_issu_state[slot].operating_mode }} | {{ to_parse_issu_state[slot].rp_state }} |{% endfor %}