{
    "type": "NetworkGraph",
    "label": "Show BGP Sessions",
    "protocol": "OLSR",
    "version": "0.6.6.2",
    "metric": "ETX",
    "nodes": [{% for vrf in to_parse_bgp.vrf %}
        { 
            "id": "{{ to_parse_bgp.vrf[vrf].router_id }}"
        },{% endfor %}
        {% for vrf in to_parse_bgp.vrf %}{% for neighbor in to_parse_bgp.vrf[vrf].neighbor %}{% set outer_loop = loop %}{% if outer_loop.index > 0 %}
        {
            "id": "{{ neighbor }}"{% if outer_loop.last %}
        }{% else %}
        },{% endif %}{% else %}
        {
            "id": "{{ neighbor }}"
        }{% endif %}{% endfor %}{% endfor %}
    ],
    "links": [{% for vrf in to_parse_bgp.vrf %}{% for neighbor in to_parse_bgp.vrf[vrf].neighbor %}{% set outer_loop = loop %}{% if outer_loop.index > 0 %}
        {
            "source": "{{ to_parse_bgp.vrf[vrf].router_id }}",
            "target": "{{ neighbor }}",
            "cost": 1{% if outer_loop.last %}
        }{% else %}
        },{% endif %}{% else %}
        {
            "source": "{{ to_parse_bgp.vrf[vrf].router_id }}",
            "target": "{{ neighbor }}",
            "cost": 1
        }{% endif %}{% endfor %}{% endfor %}
    ]
}