{
    "type": "NetworkGraph",
    "label": "Show Version",
    "protocol": "OLSR",
    "version": "0.6.6.2",
    "metric": "ETX",
    "nodes": [
        { 
            "id": "{{ device_alias }}"
        },
        {
            "id": "{{ to_parse_version.hardware.bootflash }}"
        },
        {
            "id": "{{ to_parse_version.hardware.chassis }}"
        },
        {
            "id": "{{ to_parse_version.hardware.cpu }}"
        },
        {
            "id": "{{ to_parse_version.hardware.device_name }}"
        },
        {
            "id": "{{ to_parse_version.hardware.memory }}"
        },
        {
            "id": "{{ to_parse_version.hardware.processor_board_id }}"
        },
        {
            "id": "{{ to_parse_version.hardware.rp }}"
        },
        {
            "id": "{{ to_parse_version.hardware.slots }}"
        },
        {
            "id": "{{ to_parse_version.reason }}"
        },
        {
            "id": "{{ to_parse_version.software.system_compile_time }}"
        },
        {
            "id": "{{ to_parse_version.software.system_image_file }}"
        },
        {
            "id": "{{ to_parse_version.software.system_version }}"
        }
    ],
    "links": [
        {
            "source": "{{ device_alias }}",
            "target": "{{ to_parse_version.hardware.bootflash }}",
            "cost": 1
        },
        {
            "source": "{{ device_alias }}",
            "target": "{{ to_parse_version.hardware.chassis }}",
            "cost": 1
        },
        {
            "source": "{{ device_alias }}",
            "target": "{{ to_parse_version.hardware.cpu }}",
            "cost": 1
        },
        {
            "source": "{{ device_alias }}",
            "target": "{{ to_parse_version.hardware.device_name }}",
            "cost": 1
        },
        {
            "source": "{{ device_alias }}",
            "target": "{{ to_parse_version.hardware.memory }}",
            "cost": 1
        },
        {
            "source": "{{ device_alias }}",
            "target": "{{ to_parse_version.hardware.processor_board_id }}",
            "cost": 1
        },
        {
            "source": "{{ device_alias }}",
            "target": "{{ to_parse_version.hardware.rp }}",
            "cost": 1
        },
        {
            "source": "{{ device_alias }}",
            "target": "{{ to_parse_version.hardware.slots }}",
            "cost": 1
        }, 
        {
            "source": "{{ to_parse_version.hardware.bootflash }}",
            "target": "{{ to_parse_version.software.system_compile_time }}",
            "cost": 1
        },
        {
            "source": "{{ to_parse_version.hardware.bootflash }}",
            "target": "{{ to_parse_version.software.system_image_file }}",
            "cost": 1
        },
        {
            "source": "{{ to_parse_version.hardware.bootflash }}",
            "target": "{{ to_parse_version.software.system_version }}",
            "cost": 1
        }        
    ]
}