{% if filetype_loop_jinja2 == "csv" %}Interface,Client,Domain,Method,Session ID,Status{% for interface in data %}{% for client in data[interface].client %}{% for session in data[interface].client[client].session %}
{{ interface }},{{ client }},{{ data[interface].client[client].domain }},{{ data[interface].client[client].method }},{{ session }},{{ data[interface].client[client].status }}{% endfor %}{% endfor %}{% endfor %}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Show Authentication Sessions
| Interface | Client | Domain | Method | Session ID | Status |
| --------- | ------ | ------ | ------ | ---------- | ------ |{% for interface in data %}{% for client in data[interface].client %}{% for session in data[interface].client[client].session %}
| {{ interface }} | {{ client }} | {{ data[interface].client[client].domain }} | {{ data[interface].client[client].method }} | {{ session }} | {{ data[interface].client[client].status }} |{% endfor %}{% endfor %}{% endfor %}{% else %}
<html><body>
<h1>Show Authentication Sessions</h1>
<table style="width:100%">
  <tr>
    <th>Interface</th>
    <th>Client</th>
    <th>Domain</th>
    <th>Method</th>
    <th>Session ID</th>
    <th>Status</th>
  </tr>{% for interface in data %}{% for client in data[interface].client %}{% for session in data[interface].client[client].session %}
  <tr>
    <td>{{ interface }}</td>
    <td>{{ client }}</td>
    <td>{{ data[interface].client[client].domain }}</td>
    <td>{{ data[interface].client[client].method }}</td>
    <td>{{ session }}</td>
    <td>{{ data[interface].client[client].status }}</td>
  </tr>{% endfor %}{% endfor %}{% endfor %}
</table>
</body></html>{% endif %}{% endif %}
