{% if filetype_loop_jinja2 == "csv" %}
VRF,Address Family,Route,Active,Metric,Route Preference,Source Protocol,Source Protocol Code,Next Hop Number,Next Hop,Outgoing Interface,Updated{% for vrf in data %}{% for address_family in data[vrf].address_family %}{% for route in data[vrf].address_family[address_family].routes %}{% for next_hop in data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list %}
{{ vrf }},{{ address_family }},{{ route }},{{ data[vrf].address_family[address_family].routes[route].active }},{{ data[vrf].address_family[address_family].routes[route].metric }},{{ data[vrf].address_family[address_family].routes[route].route_preference }},{{ data[vrf].address_family[address_family].routes[route].source_protocol }},{{ data[vrf].address_family[address_family].routes[route].source_protocol_codes }},{{ next_hop }},{{ data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].next_hop }},{{ data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].outgoing_interface }},{{ data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].updated }}{% endfor %}{% endfor %}{% endfor %}{% endfor %}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Show IP Route (Global Routing Table)
| VRF | Address Family | Route | Active | Metric | Route Preference | Source Protocol | Source Protocol Code | Next Hop Number | Next Hop | Outgoing Interface | Updated |
| --- | -------------- | ----- | ------ | ------ | ---------------- | --------------- | -------------------- | --------------- | -------- | ------------------ | ------- |{% for vrf in data %}{% for address_family in data[vrf].address_family %}{% for route in data[vrf].address_family[address_family].routes %}{% for next_hop in data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list %}
| {{ vrf }} | {{ address_family }} | {{ route }} | {{ data[vrf].address_family[address_family].routes[route].active }} | {{ data[vrf].address_family[address_family].routes[route].metric }} | {{ data[vrf].address_family[address_family].routes[route].route_preference }} | {{ data[vrf].address_family[address_family].routes[route].source_protocol }} | {{ data[vrf].address_family[address_family].routes[route].source_protocol_codes }} | {{ next_hop }} | {{ data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].next_hop }} | {{ data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].outgoing_interface }} | {{ data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].updated }} |{% endfor %}{% endfor %}{% endfor %}{% endfor %}{% else %}
<html><body>
<h1>Show Interfaces Status</h1>
<table style="width:100%">
  <tr>
    <th>VRF</th>
    <th>Address Family</th>
    <th>Route</th>
    <th>Active</th>
    <th>Metric</th>
    <th>Route Preference</th>   
    <th>Source Protocol</th>
    <th>Source Protocol Code</th>
    <th>Next Hop Number</th>
    <th>Outgoing Interface</th>
    <th>Updated</th>
  </tr>{% for vrf in data %}{% for address_family in data[vrf].address_family %}{% for route in data[vrf].address_family[address_family].routes %}{% for next_hop in data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list %}
  <tr>
    <td>{{ vrf }}</td>
    <td>{{ address_family }}</td>
    <td>{{ route }}</td>
    <td>{{ data[vrf].address_family[address_family].routes[route].active }}</td>
    <td>{{ data[vrf].address_family[address_family].routes[route].metric }}</td>   
    <td>{{ data[vrf].address_family[address_family].routes[route].route_preference }}</td>
    <td>{{ data[vrf].address_family[address_family].routes[route].source_protocol }}</td>
    <td>{{ data[vrf].address_family[address_family].routes[route].source_protocol_codes }}</td>
    <td>{{ next_hop }}</td>
    <td>{{ data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].next_hop }}</td>
    <td>{{ data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].outgoing_interface }}</td>
    <td>{{ data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].outgoing_interface }}</td>
    <td>{{ data[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].updated }}</td>
  </tr>{% endfor %}{% endfor %}{% endfor %}{% endfor %}
</table>
</body></html>{% endif %}{% endif %}
