{% if filetype_loop_jinja2 == "csv" %}Port-Channel,Bundle ID,Name,Status,Protocol,Flags,Member Interface,Memeber Bundled,Member Flags{% for interface in data %}{% for member in data[interface].members %}
{{ interface }},{{ data[interface].bundle_id }},{{ data[interface].name }},{{ data[interface].oper_status }},{{ data[interface].protocol | default("Mode On") }},{{ data[interface].flags }},{{ member }},{{ data[interface].members[member].bundled }},{{ data[interface].members[member].flags }}{% endfor %}{% endfor %}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Etherchannel Summary
| Port-Channel | Bundle ID | Name | Status | Protocol | Flags | Member Interface | Memeber Bundled | Member Flags |{% for interface in data %}{% for member in data[interface].members %}
| ------------ | --------- | ---- | ------ | -------- | ----- | ---------------- | --------------- | ------------ |
| {{ interface }} | {{ data[interface].bundle_id }} | {{ data[interface].name }} | {{ data[interface].oper_status }} | {{ data[interface].protocol | default("Mode On") }} | {{ data[interface].flags }} | {{ member }} | {{ data[interface].members[member].bundled }} | {{ data[interface].members[member].flags }} |{% endfor %}{% endfor %}{% else %}
<html><body>
<h1>Show Etherchannel Summary</h1>
<table style="width:100%">
  <tr>
    <th>Port-Channel</th>
    <th>Bundle ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Protocol</th>
    <th>Flags</th>
    <th>Member Interface</th>
    <th>Member Bundled</th>
    <th>Member Flags</th>
  </tr>{% for interface in data %}{% for member in data[interface].members %}  
  <tr>
    <td>{{ interface }}</td>
    <td>{{ data[interface].bundle_id }}</td>
    <td>{{ data[interface].name }}</td>
    <td>{{ data[interface].oper_status }}</td>
    <td>{{ data[interface].protocol | default("Mode On") }}</td>
    <td>{{ data[interface].flags }}</td>
    <td>{{ data[interface].members[member].interface }}</td>
    <td>{{ data[interface].members[member].bundled }}</td>
    <td></td>
  </tr>{% endfor %}{% endfor %}
</table>
</body></html>{% endif %}{% endif %}
